{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Account</h1>
        <p>Manage tables and get URLs</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Tables</h2>
            <table class="table table-striped">
              <tr>
                <th>No.</th>
                <th>URL</th>
                <th>Delete</th>
              </tr> 
              {% for table in tables %}
                <form class="form-inline" action="/account/deletetable">
                  <tr>
                    <td>{{table.number}}</td> 
                    <td>{{table.url}}</td> 
                    <td> <input type="submit" value="Delete" class="form-control"></td>
                    <input type="text" name="tableid" value="{{table._id}}" hidden> 
                  </tr>
                </form>
              {% endfor %}
            </table>

          <h2>Add new table</h2>
          <form class="form-inline" action="/account/createtable" method="POST">
            <div class="form-group">
              {% if createtableform.tablenumber.errors %} 
                <ul class="errors"> 
                  {% for error in createtableform.tablenumber.errors %} 
                    <li>{{error}}</li> 
                  {% endfor %} 
                </ul> 
              {% endif %}
              {{ createtableform.csrf_token}}
              {{ createtableform.tablenumber(class="form-control", placeholder="Table number or name")}}
              {{ createtableform.submit(value="Create", class="btn btn-primary") }}
            </div>
          </form>
        </div>    
      </div>
    </div>
{% endblock %}
